.button {
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 0.5em 1em;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}