.searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5em 1.2em;
    border-radius: 12px;

    img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    input {
        outline: none;
        margin: 0;
    }
}